@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Pacifico|Roboto');

.topNavBar  {
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.navbar-default{
	border-color: #4d94ff;
}


.navText span{
	color: #4d94ff;
	font-size: 15px;
}

.navTextButton div{
	display: block;
	color: #4d94ff;
	font-size: 20px;
}

.navTextButton:hover{
	background-color: #002966;
	font-size: 20px;
}

.logo span{
	color: #4d94ff;
	font-family: 'Pacifico';
	font-size: 30px;
}

768

@media only screen and (max-width: 760px) {
	.navbar-default .navbar-nav>li>a{
		float: left;
	}
}